@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  grid-template-areas: "nav" "carrossel" "produtos";
  grid-template-rows: 120px 500px 1fr;
  display: grid;
}

nav {
  grid-area: nav;
  width: 100%;
  height: 100%;
  grid-template-areas: "logo menu";
  grid-template-columns: 200px 1fr;
  display: grid;
  border-bottom: 1px #545454 solid;

}

.logo {
  grid-area: logo;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-logo {
  width: 180px;
  height: 100px;
  border-radius: 50%;
}

.menu {
  grid-area: menu;
  width: 100%;
  height: 100%;
  display: flex;
  font-family: "Poppins", sans-serif;
  gap: 5%;
  justify-content: flex-end;
  align-items: center;
  padding-right: 15px;
  font-size: 25px;
}

span {
  cursor: pointer;
  display: flex;
  justify-content: center;
  text-align: center;
  transition: 0.5s;
  border-radius: 15px;
  width: 220px;

}

span:hover {
  background-color: #5E17EB;
  width: 200px;
  color: white;
  border-radius: 15px;
}

.container-carrossel {
  margin: 70px auto;
  width: 1020px;
  height: 400px;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.slides {
  width: 400%;
  height: 400px;
  display: flex;
}

.slides input {
  display: none;
}

.slide {
  width: 25%;
  position: relative;
  transition: 2s;
}

.slide img {
  width: 1020px;
  border-radius: 15px;
}

.manual-navigation {
  position: absolute;
  width: 1020px;
  margin-top: 60px;
  display: flex;
  justify-content: center;
}

.manual-btn {
  border: 2px solid #5E17EB;
  padding: 5px;
  border-radius: 100px;
  cursor: pointer;
  transition: 1s;
}

.manual-btn:not(:last-child) {
  margin-right: 40px;
}

.manual-btn:hover {
  background-color: #5E17EB;
}

#radio1:checked~.first {
  margin-left: 0;
}

#radio2:checked~.first {
  margin-left: -25%;
}

#radio3:checked~.first {
  margin-left: -50%;
}

.navigation-auto div {
  border: 2px solid #ffffff;
  padding: 5px;
  border-radius: 100px;
  cursor: pointer;
  transition: 1s;
}

.navigation-auto {
  position: absolute;
  width: 1020px;
  margin-top: 460px;
  display: flex;
  justify-content: center;
}

.navigation-auto div:not(:last-child) {
  margin-right: 40px;
}

#radio1:checked~.navigation-auto .auto-btn1 {
  background-color: #5E17EB;
}

#radio2:checked~.navigation-auto .auto-btn2 {
  background-color: #5E17EB;
}

#radio3:checked~.navigation-auto .auto-btn3 {
  background-color: #5E17EB;
}



.produtos {
  grid-area: produtos;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}