@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    font-family: "Poppins", sans-serif;
    grid-template-areas: "nav" "container";
    grid-template-rows: 120px 1fr;
    display: grid;
}

/* NAVEGAÇÃO */
nav {
    grid-area: nav;
    width: 100%;
    height: 100%;
    grid-template-areas: "logo menu";
    grid-template-columns: 200px 1fr;
    display: grid;
    border-bottom: 1px #545454 solid;
}

.logo {
    grid-area: logo;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-logo {
    width: 180px;
    height: 100px;
    border-radius: 50%;
}

.menu {
    grid-area: menu;
    width: 100%;
    height: 100%;
    display: flex;
    font-family: "Poppins", sans-serif;
    gap: 5%;
    justify-content: flex-end;
    align-items: center;
    padding-right: 15px;
    font-size: 25px;
}

span {
    cursor: pointer;
    display: flex;
    justify-content: center;
    text-align: center;
    transition: 0.5s;
    border-radius: 15px;
    width: 220px;
}

span:hover {
    background-color: #5E17EB;
    width: 200px;
    color: white;
    border-radius: 15px;
}

.container {
    grid-area: container;
    width: 100%;
    height: 100%;
    grid-template-areas: "foto-perfil form-dados";
    grid-template-columns: 1fr 1fr;
    display: grid;
}

.foto-perfil {
    grid-area: foto-perfil;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
}

.foto-perfil img {
    height: 350px;
    width: 350px;
}

.form-dados {
    grid-area: form-dados;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-dados form {
    height: 450px;
    width: 550px;
    background-color: #5E17EB;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    border-bottom-right-radius: 80px;
    border-top-left-radius: 80px;
    flex-direction: column;
    font-weight: bolder;
}