@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    font-family: "Poppins", sans-serif;
    grid-template-areas: "nav" "card-sacola";
    grid-template-rows: 120px 1fr;
    display: grid;
}

nav {
    grid-area: nav;
    width: 100%;
    height: 100%;
    grid-template-areas: "logo menu";
    grid-template-columns: 200px 1fr;
    display: grid;
    border-bottom: 1px #545454 solid;

}

.logo {
    grid-area: logo;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-logo {
    width: 180px;
    height: 100px;
    border-radius: 50%;
}

.menu {
    grid-area: menu;
    width: 100%;
    height: 100%;
    display: flex;
    font-family: "Poppins", sans-serif;
    gap: 5%;
    justify-content: flex-end;
    align-items: center;
    padding-right: 15px;
    font-size: 25px;
}

span {
    cursor: pointer;
    display: flex;
    justify-content: center;
    text-align: center;
    transition: 0.5s;
    border-radius: 15px;
    width: 220px;

}

span:hover {
    background-color: #5E17EB;
    width: 200px;
    color: white;
    border-radius: 15px;
}

.card-sacola {
    grid-area: card-sacola;
    width: 100%;
    height: 100%;
    grid-template-areas: "tittle" "produtos_sacola" "btn-comprar-produto";
    grid-template-rows: 100px 1fr 120px;
    display: grid;
}

.tittle {
    grid-area: tittle;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    font-size: 40px;
    font-weight: bolder;
    color: #5E17EB;
    align-items: center;
    gap: 10px;
    margin-left: 25px;
}

.produtos_sacola {
    grid-area: produtos_sacola;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.produto {
    display: flex;
    gap: 20px;
    margin: 50px;
    /* flex-direction: column; */
}

.produto img {
    height: 120px;
    width: 120px;
    border-radius: 20px;
}

.div-desc {
    display: flex;
    font-size: 20px;
    flex-direction: column;
}

.textprice {
    font-weight: bolder;
    color: #5E17EB;
}

button {
    border: none;
    width: 100px;
    height: 50px;
    border-radius: 20px;
    font-family: "Poppins", sans-serif;
    font-size: 15px;
}

.btn-comprar-produto {
    grid-area: btn-comprar-produto;
    width: 100%;
    height: 100%;
    /* background-color: rgb(228, 156, 228); */
    justify-content: center;
    align-items: center;
    display: flex;
}

.btn-comprar-produto button {
    width: 220px;
    background-color: #5E17EB;
    color: white;
    font-weight: bolder;
    font-size: 30px;
    cursor: pointer;
    transition: all 0.2s;
}

.btn-comprar-produto button:hover {
    transform: scale(1.05);
}

/* Estilos para o modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    text-align: center;
}

#finalize-purchase{
    width: 150px;
    cursor: pointer;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.blur {
    filter: blur(5px);
}